body {
    animation: change-color 8s infinite alternate;
}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }

    50% {
        background-color: black;
    }

    100% {
        background-color: aquamarine;
    }
}

.title {
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto;
    text-align: center;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 20deg);
    }

}

.square {
    background-color: crimson;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 75px auto;
    transition: all 1s;

}

.square:hover {
    background-color: greenyellow;
    transform: rotate(30deg);
}

.circle {
   /* background-color: rgb(14, 124, 36); */
    width: 100px;
    height: 100px;
    /* border-radius: 100px;
   */
    margin: 75px auto;
    animation: shape-1 2s infinite alternate ;

}

@keyframes shape-1 {
    0% {
        border-radius: 0px;
        background-color: blueviolet;
    }

    100% {
        border-radius: 100px;
        background-color: chartreuse;
    }

}

.button-div {
    text-align: center;
    margin: 75px auto;
}

.button {
    background-color: hotpink;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: purple;
    color: yellow;
    transform: scale(1.5);
}

.loading {
    background-color: chartreuse;
    animation: stretch 5s 3 normal;
    width: 80vw;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 100vw;
    }
}
.look{
background-color: blue;
}

.look:hover {
background-color: chartreuse;
color: aliceblue;
width: 500px;
transform: rotate(0.5turn);
}