/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    /* box-sizing: border-box; */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}
.index header {
background-color: darkolivegreen;
padding: 1px;
}
#main1 {
    padding: 10px;
    color: rgb(144, 188, 68);
    background-color: antiquewhite;
    font-size: 1.2rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.2;
    font-family: crimson-text-bold;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: bold;
}

#option1 {
    box-sizing: border-box;
    background-color: black;

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    @media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }

}

#fire1 {

}
#fire1 {
  transition-property: opacity, display;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;
}

#fire1.fade-out {
  opacity: 0;
  display: none;
}
header {
    padding: 50px;
    text-align: center;
}



.image-div {
    display: inline-block;

}

