/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    /* box-sizing: border-box; */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



html,
body {
    height: 100%;
}

.header1 {
    background-color: darkolivegreen;
    /* background: #222; */
    color: #fcfdfd;
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    margin: auto;

}


#main1 {
    padding: 40px;
    color: forestgreen;
    background-color: antiquewhite;
    font-size: 1.5rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.2;

    font-weight: 700;
    text-decoration: none;
    padding: 40;


}

.a {
    text-decoration: none;
}

#option1 {
    box-sizing: border-box;
    background-color: black;

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    /* Create four equal columns that sits next to each other */
    .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }

    @media (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }

    @media (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }

}



header {
    padding: 30px;
    text-align: center;
}



.image-div {
    display: inline-block;

}

#fire1 {
    background-color: chocolate;
    animation: fadein 3s;

}

@keyframes fadein {
    from {
        opacity: 0%;
        scale: 0%;
    }

    to {
        opacity: 100%;
        scale: 100%;
    }
}