/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  
    /*seting default to 10px*/
}

*,
*:before,
*:after {
    /* box-sizing: inherit; */
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




h1{
  text-align: center;
  font-family: orbitron;
}
h2{
  text-align: center;
  font-family: orbitron;
}
p{
  text-indent: 20px;
  font-size: medium;
  font-family: orbitron;
  margin-bottom: 15px;
}
body {
  margin: 20px;
  
  background-color: black;
  color: chartreuse;
  line-height: 2;

}